/*
    Document   : style
    Author     : vikram
    Description:
        Purpose of the stylesheet follows.
        Prepare the view of share page.
*/
.oexchange_form_image_buttons {
  float: left;
  width: 40%;
}
.oexchange_form_title_description {
  float: left;
  width: 60%;
  min-height: 260px;
}
.form-item-oexchange-field-write-own {
  float: left;
  width: 100%;
}
#edit-oexchange-next-button {
  float: right;
  cursor: pointer;
}
#edit-oexchange-previous-button {
  float: left;
  cursor: pointer;
}
#edit-oexchange-title {
  font-size: 24px;
}
#edit-share-button {
  float: right;
}
#edit-oexchange-description {
  font-size: 20px;
}
